.hello-scss{
    background-color: aquamarine;
}


.skeleton-placeholder {
    height: 20rem;
    width: 80%;
    background-color: #938b8b;
    animation: loading 1s infinite alternate;
}


@keyframes loading {
    0% {
    opacity: 0.5;
    }
    100% {
    opacity: 1;
    }
}